<button @onclick="@Back">←</button>

@if (Error != null) {
    <p>ERR: @Error.Message</p>
}

<label>
    ユーザー名: <input type="text" required @bind="UserName" />
</label>
<label>
    パスワード: <input type="password" required @bind="Password" />
</label>
<label>
    パスワード(確認): <input type="password" required @bind="PasswordToConfirm" />
</label>
<label>
    <input type="checkbox" @bind="Confirmed" />
    <a href="#">利用規約(まだないよ)</a>に同意する
</label>

<button disabled="@(!CanRegister)" @onclick="() => SignUp(UserName, Password)">登録する</button>

@code
{
    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string Password { get; set; }

    [Parameter]
    public Action Back { get; set; }

    [Parameter]
    public Action<string, string> SignUp { get; set; }

    [Parameter]
    public Exception Error { get; set; }

    public string PasswordToConfirm { get; set; } = "";

    public bool Confirmed { get; set; }

    public bool CanRegister => Confirmed && Password == PasswordToConfirm;
}