.container {
    padding: 16px 64px;
}

.section {
    padding: 32px 16px;
    &:not(:last-child) {
        border-bottom: 1px solid var(--back-light)
    }
}

.card {
    padding: 16px;
    margin: 2px;
    background: var(--card-back)
}

.horizontal {
    display: flex;
    flex-direction: row;
    &>* {
        flex: auto;
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

@media screen and (max-width: 550px) { 
    .container {
        padding: 16px 0;
    }
}