.postForm {
    position: sticky;
    background: var(--card-back);
    top: 64px;
    left: 0;
    right: 0;
    padding: 8px;
    box-shadow: 0 0 16px black;
    margin: 0 8px;
    z-index: 1;

    .command {
        display: flex;
        flex-direction: row;
        align-items: center;

        .right {
            display: flex;
            margin-left: auto;
            align-items: center;
            flex-direction: row;
        }
    }
}