body {
    background: var(--back);
    color: var(--fore);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --back: #1e272c;
    --fore: #ECEFF1;
    --accent: #FF9800;
    --accent-light: #FFE0B2;
    --accent-fore: #5D4037;
    --card-back: #263238;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 500;
}

a {
    color: var(--accent);
}

.layout {
    margin: 72px 64px 0 64px;
}

.footer {
    text-align: center;
    opacity: 0.8;
    padding: 32px 0;
}