body {
    background: var(--back);
    color: var(--fore);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --back: #1e272c;
    --back-light: #263238;
    --back-dark: #000;
    --fore: #CFD8DC;
    --fore-light: #ECEFF1;
    --fore-dark: #B0BEC5;
    --accent: #FF9800;
    --accent-light: #FFE0B2;
    --accent-dark: #E65100;
    --accent-fore: #5D4037;
    --card-back: #263238;
}

h1 {
    margin: 0 !important;
    small {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 500;
}

@for $i from 1 through 6 {
    h#{$i}:first-child {
        margin: 0;
    }    
}

a {
    color: var(--accent);
}

.layout {
    padding-top: 72px;
    position: relative;
}

.footer {
    text-align: center;
    opacity: 0.8;
    padding: 32px 0;
}

@media screen and (max-width: 550px) { 
    .layout {
        padding-top: 48px;
    }
}