.button, .link, .static {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    margin: 8px 0;
}

.button {
    background: var(--accent);
    color: var(--accent-fore);
    border: 2px solid transparent;
    font-weight: bold;
    outline: none;
    
    &:focus {
        border: 2px solid var(--accent-light);
    }

    &:disabled {
        color: #9E9E9E;
        background: #757575;
    }
}

.static {
    color: var(--fore);
    background: transparent;
    font-weight: bold;
    outline: none;
    
    &:hover {
        color: var(--accent)
    }

    &:disabled {
        color: #9E9E9E;
    }
}

.link {
    background: none;
    border: none;
    color: var(--accent);
    text-decoration: underline;

    &:disabled {
        color: #757575;
        text-decoration: none;
    }
}

.textarea {
    padding: 16px;
    min-width: 100%;
    max-width: 100%;
    min-height: 96px;

    background: transparent;
    color: var(--fore);
    border: 1px solid #757575;
    outline: none;
    transition: border-color 0.2s ease;
    font-size: 16px;
    margin: 12px 0;

    &:focus {
        border-color: var(--accent);
    }

    &::placeholder {
        color: var(--fore);
    }
}

.textInput {
    padding: 4px 16px;
    background: transparent;
    color: var(--fore);
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
    transition: all 0.2s ease;
    font-size: 16px;
    margin: 12px 0;

    &:focus {
        border-color: var(--accent);
    }

    &::placeholder {
        color: var(--fore);
    }
}

.passwordContainer {
    position: relative;
    margin-top: 24px;

    .textInput {
        margin-top: 0;
    }
}

.passwordEye {
    position: absolute;
    right: 8px;
    user-select: none;
    top: 0;
    bottom: 0;
}

.checkBox {
    display: block;
    margin: 12px 0;
    user-select: none;
    cursor: pointer;

    >input[type="checkbox"] {
        display: none;
        &:checked+span::before {
            background: var(--accent);
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            border: 0;
        }
    }

    span {
        display: flex;
        align-items: center;
        font-size: 16px;
        &::before {
            content: "";
            display: inline-block;
            transition: all 0.2s ease;
            margin-right: 8px;
            background: transparent;
            width: 16px;
            height: 16px;
            border: 2px solid var(--fore-dark);
        }
    }
}