.AcPost {
    padding: 8px;
    margin: 8px;
    border: 1px solid #444;

    header {
        display: flex;
        color: gray;
        .name {
            color: black;
            margin-right: 8px;
            font-weight: bold;;
        }

        .time {
            margin-left: auto;
        }
    }

    main {
        color: #222;
        font-size: 18px;
        padding-left: 12px;
    }
}